---
layout: default
---

<div class="content">
    <p><img src="../assets/me.jpg" alt="Me" width="232" height="308.8"> </p>

    <p>I am a PhD student in the Department of Computer Science and 
        Technology at Nanjing University. I am working with Professor 
        [Wei Wang](https://cs.nju.edu.cn/ww/).
        My recent research focuses on building acoustic sensing and 
        human-device interaction systems on mobile devices (smart 
        phone, smart speaker, VR/AR, etc.).</p>
  
</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>

