---
layout: default
---

<!-- <div>
    <p align="left" ><img src="../assets/me.jpg" height=317.8 width=232> </p>
    {{ content }}
</div> -->

<!-- <div> -->
<table cellspacing="0">
  <tbody>
      <tr>
          <td width="500">
              <div id="toptitle">
                  <h1>Haoran Wan &nbsp;</h1>
              </div>
              <p> I am a M.S. student in the Department of Computer Science and Technology at Nanjing University. I am working with Professor <a href="https://cs.nju.edu/ww">Wei Wang</a>.

                  My recent research focuses on building acoustic sensing and Internet-of-Things applications (localization, interaction, vital sign monitoring/health care, etc.) on mobile devices (smart phone, smart speaker, VR/AR, etc.).
              </p>

              <p> I received my BEng degree from the School of Information and Communication Engineering of <a href="https://en.uestc.edu.cn/index.htm">University of Electronic Science and Technology of China</a> in 2019.
              </p>

              <br>

              <!-- <p>I rece
              </p> -->
          </td>

          <td width="60">
          </td>

          <td>
              <center>
                  <img src="../assets/me.jpg" border="0" style="margin-top:60px" width="180"><br>
              </center>
          </td>
      </tr>
  </tbody>
</table>
<!-- </div> -->

<div id="cv-email">
  <span><a href="../assets/cv/cv_haoranwan.pdf">CV</a></span>
  <!-- <p><span style="font-weight:bold;font-size:120%;"><a href="how_to_join.html" class="highlight">How to
              Join</a></span></p> -->
  <span position:left; style="color:black">Email: <a href="mailto:wanhr@smail.nju.edu.cn">wanhr@smail.nju.edu.cn</a>
</span></div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>