---
layout: default
---

<!-- <div>
    <p align="left" ><img src="../assets/me.jpg" height=317.8 width=232> </p>
    {{ content }}
</div> -->

<!-- <div> -->
<table cellspacing="0">
  <tbody>
      <tr>      
          <td width="550">
              <div id="toptitle">
                  <h1>Haoran Wan &nbsp;</h1>
              </div>
              <p> I am a first year Ph.D. student in Computer Science at Princeton University, advised by Professor <a href="https://www.cs.princeton.edu/~kylej/">Kyle Jamieson</a>.

                My recent research focuses on wireless telemetry.
              </p>

              <p> Before Princeton, I got my M.E. degree in Computer Science and Technology at Nanjing University and worked with Professor <a href="https://cs.nju.edu.cn/ww/index.htm">Wei Wang</a> on acoustic sensing. 
                
              </p>

              <p> I received my BEng degree from the School of Information and Communication Engineering of University of Electronic Science and Technology of China in 2019.
              </p>

              <!-- <div>
                <h2>Contact &nbsp;</h2>
              </div>
              <p>Email: hw8161 at princeton.edu</a>
              </p>
              
              <div>
                <h2>CV & Links &nbsp;</h2>
              </div>
              <span><a href="../assets/cv/cv_haoran_wan.pdf">CV</a>,  
                <a href="https://scholar.google.com/citations?user=avmkYmwAAAAJ&hl=en">Google Scholar</a>,
                <a href="https://orcid.org/my-orcid?orcid=0000-0001-9726-195X">ORCID</a>,
                <a href="https://dblp.org/pid/298/3763.html">DBLP</a>.
              </span>

              <div>
                <h2>Selected Publication (<a href="https://wanhaoran.github.io/publication/">Full List</a>) &nbsp;</h2>
              </div>
              <p align="left"><a href="https://arxiv.org/abs/2402.04454"> Evolving Mobile Cloud Gaming with 5G Standalone Network Telemetry</a><br/>
                <u>Haoran Wan</u>, Kyle Jamieson<br/>
                <b><font color="black">Arxiv Preprint</font></b>, Feb 2024.
              </p>

              <p align="left"><a href="../assets/papers/mSilent_final.pdf"> mSilent: Towards General Corpus Silent Speech Recognition using COTS mmWave Radar</a><br/>
                Shang Zeng, <u>Haoran Wan</u>, Shuyu Shi, and Wei Wang<br/>
                <b><font color="red">ACM UbiComp/IMUWT 2023</font></b>, Oct. 2023.
              </p>
              
              <p align="left"><a href="../assets/papers/alt_eurosys.pdf"> ALT: Boosting Deep Learning Performance by Breaking the Wall between Graph and Operator Level Optimizations</a><br/>
                Zhiying Xu, Jiafan Xu, Hongding Peng, Wei Wang, Xiaoliang Wang, <u>Haoran Wan</u>, Haipeng Dai, Yixu Xu, Hao Cheng, Kun Wang, and Guihai Chen<br/>
                <b><font color="red">ACM EuroSys 2023</font></b>, May 2023.
              </p>

              <p align="left"><a href="../assets/papers/resptracker_journal.pdf"> Multi-user Room-scale Respiration Tracking using COTS Acoustic Devices</a><br/>
                <u>Haoran Wan</u>, Shuyu Shi, Wenyu Cao, Wei Wang, and Guihai Chen<br/>
                <b><font color="red">ACM TOSN</font></b>, May 2023.
              </p>

              <p align="left"><a href="https://ieeexplore.ieee.org/document/10034952"> SCALAR: Self-Calibrated Acoustic Ranging for Distributed Mobile Devices</a><br/>
                Lei Wang, <u>Haoran Wan</u>, Ting Zhao, Ke Sun, Shuyu Shi, Haipeng Dai, Guihai Chen, Haodong Liu, and Wei Wang<br/>
                <b><font color="red">IEEE TMC</font></b>, Feb. 2023.
              </p>
              
              <p align="left"><a href="../assets/papers/vector_author_version.pdf"> VECTOR: Velocity Based Temperature-field Monitoring with Distributed Acoustic Devices</a><br/>
                  <u>Haoran Wan</u>, Lei Wang, Ting Zhao, Ke Sun, Shuyu Shi, Haipeng Dai, Guihai Chen, Haodong Liu, and Wei Wang<br/>
                  <b><font color="red">ACM UbiComp/IMUWT 2022 (Distinguished Paper Award!)</font></b>, Sep. 2022.
              </p>
              
              <p align="left"><a href="../assets/papers/infocom21_resptracker.pdf"> RespTracker: Multi-user Room-scale Respiration Tracking with Commercial Acoustic Devices</a><br/>
                <u>Haoran Wan</u>, Shuyu Shi, Wenyu Cao, Wei Wang, and Guihai Chen<br/>
                <b><font color="red">IEEE INFOCOM 2021</font></b>, Apr. 2021.
              </p> -->

          </td>
          
          <td width="60">
          </td>
  
          <td>
              <center>
                  <img src="../assets/me_too.jpg" border="0" style="margin-top:60px" width="180"><br>
              </center>
          </td>
          
      </tr>
  </tbody>
</table>

<table cellspacing="0">
  <tbody>
      <tr>      
          <td>
              <div>
                <h2>Contact &nbsp;</h2>
              </div>
              <p>Email: hw8161 at princeton.edu</a>
              </p>
              
              <div>
                <h2>CV & Links &nbsp;</h2>
              </div>
              <span><a href="../assets/cv/cv_haoran_wan.pdf">CV</a>,  
                <a href="https://scholar.google.com/citations?user=avmkYmwAAAAJ&hl=en">Google Scholar</a>,
                <a href="https://orcid.org/my-orcid?orcid=0000-0001-9726-195X">ORCID</a>,
                <a href="https://dblp.org/pid/298/3763.html">DBLP</a>.
              </span>

              <div>
                <h2>Selected Publication (<a href="https://wanhaoran.github.io/publication/">Full List</a>) &nbsp;</h2>
              </div>
              <!-- <p align="left"><a href="https://arxiv.org/abs/2402.04454"> Evolving Mobile Cloud Gaming with 5G Standalone Network Telemetry</a><br/>
                <u>Haoran Wan</u>, Kyle Jamieson<br/>
                <b><font color="black">Arxiv Preprint</font></b>, Feb 2024.
              </p> -->

              <p align="left"><a href="../assets/papers/mSilent_final.pdf"> mSilent: Towards General Corpus Silent Speech Recognition using COTS mmWave Radar</a><br/>
                Shang Zeng, <u>Haoran Wan</u>, Shuyu Shi, and Wei Wang<br/>
                <b><font color="red">ACM UbiComp/IMUWT 2023</font></b>, Oct. 2023.
              </p>
              
              <p align="left"><a href="../assets/papers/alt_eurosys.pdf"> ALT: Boosting Deep Learning Performance by Breaking the Wall between Graph and Operator Level Optimizations</a><br/>
                Zhiying Xu, Jiafan Xu, Hongding Peng, Wei Wang, Xiaoliang Wang, <u>Haoran Wan</u>, Haipeng Dai, Yixu Xu, Hao Cheng, Kun Wang, and Guihai Chen<br/>
                <b><font color="red">ACM EuroSys 2023</font></b>, May 2023.
              </p>

              <p align="left"><a href="../assets/papers/resptracker_journal.pdf"> Multi-user Room-scale Respiration Tracking using COTS Acoustic Devices</a><br/>
                <u>Haoran Wan</u>, Shuyu Shi, Wenyu Cao, Wei Wang, and Guihai Chen<br/>
                <b><font color="red">ACM TOSN</font></b>, May 2023.
              </p>

              <p align="left"><a href="https://ieeexplore.ieee.org/document/10034952"> SCALAR: Self-Calibrated Acoustic Ranging for Distributed Mobile Devices</a><br/>
                Lei Wang, <u>Haoran Wan</u>, Ting Zhao, Ke Sun, Shuyu Shi, Haipeng Dai, Guihai Chen, Haodong Liu, and Wei Wang<br/>
                <b><font color="red">IEEE TMC</font></b>, Feb. 2023.
              </p>
              
              <p align="left"><a href="../assets/papers/vector_author_version.pdf"> VECTOR: Velocity Based Temperature-field Monitoring with Distributed Acoustic Devices</a><br/>
                  <u>Haoran Wan</u>, Lei Wang, Ting Zhao, Ke Sun, Shuyu Shi, Haipeng Dai, Guihai Chen, Haodong Liu, and Wei Wang<br/>
                  <b><font color="red">ACM UbiComp/IMUWT 2022 (Distinguished Paper Award!)</font></b>, Sep. 2022.
              </p>
              
              <p align="left"><a href="../assets/papers/infocom21_resptracker.pdf"> RespTracker: Multi-user Room-scale Respiration Tracking with Commercial Acoustic Devices</a><br/>
                <u>Haoran Wan</u>, Shuyu Shi, Wenyu Cao, Wei Wang, and Guihai Chen<br/>
                <b><font color="red">IEEE INFOCOM 2021</font></b>, Apr. 2021.
              </p>

          </td>
      </tr>
  </tbody>
</table>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>