---
layout: default
---

<!-- <div>
    <p align="left" ><img src="../assets/me.jpg" height=317.8 width=232> </p>
    {{ content }}
</div> -->

<table cellspacing="0">
  <tbody>
      <tr>
          <td width="1000">
              <div id="toptitle">
                  <h1>Haoran Wan &nbsp;</h1>
              </div>
              <p> I am a master student in the Department of Computer Science and Technology at Nanjing University. I am working with Professor [Wei Wang](https://cs.nju.edu.cn/ww/).

                  My recent research focuses on building acoustic sensing and human-device interaction systems on mobile devices (smart phone, smart speaker, VR/AR, etc.).
              </p>

              <!-- <br />

              <p> I'm broadly interested in machine learning and its interplay with vision, self-driving,
                  language, and other areas.
                  Recently, I've been focusing on probabilistic deep learning and geometric deep learning.
              </p> -->

              <br>

              <p>I rece
              </p>
          </td>

          <td width="60">
          </td>

          <td>
              <center>
                  <img src="../assets/me.jpg" border="0" style="margin-top:60px" width="180"><br>
              </center>
          </td>
      </tr>
  </tbody>
</table>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>