---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Anran Wang - University of Washington</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div style="max-width:800px" class="container">

      <div class="page-header">
        <h1>Anran Wang</h1>
	       <p class="lead">PhD Student @ University of Washington</p>
      </div>
      <div class="content">
	      <img src="avator.jpg" class="img-responsive col-md-5"/>
	      <div class="col-md-7">
	      <p>I am a <del>first</del> <del>second</del> <del>third</del> <del>fourth</del> fifth year PhD student in the Paul G. Allen School of CSE at University of Washington. I am also a research assistant at <a href="http://netlab.cs.washington.edu/">Network and Mobile System Lab</a> working with Professor <a href="homes.cs.washington.edu/~gshyam/">Shyam Gollakota</a>.</p>
	      <p>Previously, I did my undergraduate in <a href="http://www.buaa.edu.cn">Beihang University</a> and obtained my bachelor's degree in 2014. I spent another 2 years there working with Professor <a href="http://mashuai.buaa.edu.cn/">Shuai Ma</a>, <a href="https://www.cs.purdue.edu/homes/chunyi/">Chunyi Peng</a> and Researcher Guobin Shen on screen-camera data communication.</p>
	      <p>Before starting PhD, I also interned at Baidu (2012), Microsoft Research Asia (2013-2014) and Yuantiku (2016). During the PhD, I interned at Magic Leap (2017) working on wireless controller tracking and sensor fusion. </p>
	      <p>My recent research focuses on building real-time and theoretically-sound sensing and human-device interaction systems on mobile devices (smart phone, smart speaker, VR/AR, etc.). 
	      My research draws on tools from wireless communication, acoustic/speech signal processing and computer vision. Besides, I have a broad interest in networked/mobile system as well.</p>
	      <p>Email: anranw at cs.washington.edu</p>
	      <p><a href="https://github.com/wanganran"> Github </a> | <a href="https://www.linkedin.com/in/anran-wang-20820273"> Linkedin </a> | <a href="CV-Anran.pdf"> CV </a>
	      <p>
	      </div>
      </div>
      <hr style="clear:both"/>
      <h3>Recent Highlights</h3>
      <ul>
      <li> I passed the final defense! I am joining Amazon Lab126 as an Applied Scientist in the Audio Technology Team.</li>
      <li> Check out our <a href="https://sensordrop.cs.washington.edu/">work on airdropping wireless sensors from insects.</a></li>
      <li> Internship at Amazon Lab126 Audio Technology Team, Fall 2020. </li>
      <li> Our <a href="http://anranw.me/papers/whitenoise.pdf">work on infant monitoring using white noise</a> is being commercialized by a UW startup <a href="https://www.soundlifesci.com/">Sound Life Science</a>.</li>
      <li> Check out our <a href="http://anranw.me/papers/millisonic.pdf">paper that enables millimeter-level acoustic device tracking</a> and its <a href="https://github.com/wanganran/MilliSonic">source code</a>.</li>
      <li> <a href="https://www.cnbc.com/2018/12/13/researchers-turning-bumblebees-into-live-drones-calling-it-living-iot.html" target="_new">CNBC</a>, <a href="https://www.nbcnews.com/mach/science/how-tiny-backpacks-are-turning-bees-living-drones-ncna948046" target="_new">NBC news</a>, <a href="https://www.seattletimes.com/seattle-news/backpack-wearing-bumblebees-could-buzz-fields-tell-farmers-how-crops-are-doing/" target="_new">Seattle Times</a> and <a href="https://www.forbes.com/sites/jenniferhicks/2018/12/14/these-researchers-say-this-small-sensor-system-can-ride-on-a-bumblebee/#618b19f57705" target="_new">Forbes</a> cover <a target="_new" href="http://livingiot.cs.washington.edu">Living IoT</a>. </li>
      </ul>
      <hr>
      <h3>Publications</h3>
      <h4>Conference papers:</h4>
      <p><a href="https://www.nature.com/articles/s42003-021-01824-9">Using Smart Speakers to Contactless Monitor Heart Rhythms</a><br/>
      <b>Anran Wang</b>, Dan Nguyen, Arun Sridhar and Shyam Gollakota<br/>
      Nature Communications Biology 2021
      </p>
      <p><a href="papers/airdropping.pdf">Airdropping Sensor Networks from Drones and Insects</a><br/>
      Vikram Iyer, Maruchi Kim, Shirley Xue, <b>Anran Wang</b> and Shyamnath Gollakota<br/>
      MobiCom 2020
      </p>
      <p>
      <a href="papers/whitenoise.pdf">Contactless Infant Monitoring using White Noise</a> <br/>
	<b>Anran Wang</b>, Jacob Sunshine and Shyamnath Gollakota <br/>
        MOBICOM 2019
      </p>
      <p>
      <a href="https://arxiv.org/pdf/1904.10607.pdf">DeepSense: Enabling Carrier Sense in Low-Power Wide Area Networks Using Deep Learning</a> <br/>
	<b>Anran Wang</b>*, Justin Chan*, Arvind Krishnamurthy and Shyamnath Gollakota <br/>
        Arxiv preprint, 2019
      </p>
      <p>
      <a href="papers/millisonic.pdf">MilliSonic: Pushing the Limit of Acoustic Motion Tracking</a> <br/>
	<b>Anran Wang</b> and Shyamnath Gollakota <br/>
        CHI 2019
      </p>
      <p>
      <a href="http://livingiot.cs.washington.edu/files/livingiot.pdf">Living IoT: A Flying Wireless Platform on Live Insects</a> <br/>
	<b>Anran Wang</b>*, Vikram Iyer*, Rajalakshmi Nandakumar*, Sawyer Fuller and Shyamnath Gollakota <br/>
        MOBICOM 2019
      </p>
      <p>
      <a href="papers/surfacemimo.pdf">Surface MIMO: Using Conductive Surfaces for MIMO Between Small Devices</a> <br/>
	Justin Chan, <b>Anran Wang</b>, Vikram Iyer and Shyamnath Gollakota <br/>
        MOBICOM 2018
      </p>
      <p>
      <a href="http://smartcities.cs.washington.edu/fmbackscatter.pdf">FM Backscatter: Enabling Connected Cities and Smart Fabrics </a> <br/>
      <b>Anran Wang</b>*, Vikram Iyer*, Vamsi Talla, Joshua R. Smith and Shyamnath Gollakota <br/>
        NSDI 2017
      </p>
      <p>
        <a href="papers/inframepp.pdf">INFRAME++: Achieve Simultaneous Screen-Human Viewing and Hidden Screen-Camera Communication </a> <br/>
        <b>Anran Wang</b>, Zhuoran Li, Chunyi Peng, Guobin Shen, Gan Fang, Bing Zheng <br/>
        MobiSys 2015
      </p>
      <p>
        <a href="papers/inframe.pdf">INFRAME: Multiflexing Full-Frame Visible Communication Channel for Humans and Devices</a><br/>
        <b>Anran Wang</b>, Chunyi Peng, Ouyang Zhang, Guobin Shen, Bing Zheng <br/>
        HotNets 2014 
      </p>
      <p>
        <a href="papers/rdcode.pdf">Enhancing Reliability to Boost the Throughput over Screen-Camera Links</a><br/>
        <b>Anran Wang</b>, Shuai Ma, Chunming Hu, Jinpeng Huai, Chunyi Peng, Guobin Shen <br/>
        MOBICOM 2014
      </p>
      <h4>Demos and Posters:</h4>
      <p>
      <a href="papers/whitenoise_poster.pdf">Poster: Contactless Infant Monitoring using White Noise</a> <br/>
	<b>Anran Wang</b>, Jacob Sunshine and Shyamnath Gollakota <br/>
        MOBICOM 2019
      </p>
      <p>
        <a href="papers/inframepp_demo.pdf">Demo: Achieve Simultaneous Screen-Human Viewing and Hidden Screen-Camera Communication</a> <br/>
        <b>Anran Wang</b>, Zhuoran Li, Chunyi Peng, Guobin Shen, Gan Fang, Bing Zheng <br/>
        MobiSys 2015
      </p>
      <p><a href="papers/rdcode_demo.pdf">Demo: Enhancing Reliability to Boost the Throughput over Screen-Camera Links</a><br/>
        <b>Anran Wang</b>, Shuai Ma, Chunming Hu, Jinpeng Huai, Chunyi Peng, Guobin Shen <br/>
        MOBICOM 2014
      </p>
      <hr/>
      <h3>Miscellaneous</h3>
      <p><b>My three lifetime favorite</b>: programming, listen and play music, watch and play soccer.</p>
      <p><b>Some other hobbies that I pretend to enjoy</b>: cooking, driving, fitness, reading. </p>
      <p><b>What I really enjoy</b>: eating, sleeping, playing silly games (like <a href="http://www.wanganran.com/minesweeper" target="blank">this</a>).</p>     
      <hr/>
      <p> Last update: Aug 20, 2021</p>
    </div> <!-- /container -->

  </body>
</html>

